*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background : linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(38602.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    float: left;
    padding-top: 10px;

}

.menu{
    width: 400px;
    float: left;
    height: 100px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration:none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s ease-in-out;

}

ul li a:hover{
    color:#1a5e96;
}

.search{
    width: 300px;
    float: right;
    height: 70px;
    margin-top: 10px;

}

.srch{
    font-family: 'Times New Roman', Times, serif;
    height: 31px;
    width: 200px;
    background: transparent;
    border: 1px solid #a1da07;
    border-right: none;
    font-size: 15px;
    color: white;
    margin-top: 15px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 80px;
    height: 30px;
    background: #d43605;
    border: 2px solid white;
    margin-top: 15px;
    color:white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1000px;
    height: auto;
    margin: auto;
    color:white;
    left: 0px;
    right: 1000px; ;
    position:relative;
}

.content .par{
    margin-left: 0px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.content h1{
    margin-left: 0px;
    font-family: 'Times new Roman';
    font-size: 45px;
    margin-top: 9%;
    letter-spacing: 2px;

}
.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover{
    background-color: white;
}
.content span{
    color: #ff7200;
    font-size: 60px;

}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;;
    left: 850px;
    border-radius: 10px;
    padding: 25px;
    padding-left: 20px;
    
}

.form h2{
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    width: 220px;
    padding-bottom: 20px;
    font-family: sans-serif ;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff7200;
    margin-top: 30px;
    border-right: none;
    border-left: none;
    font-size: 15px;
    color: white;
    font-family:  sans-serif;
    letter-spacing: 1px;
}

.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family:  arial;
}
.btnn{
    width: 240px;
    height: 45px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.btnn:hover{
    background: white;
    color:#ff7200;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    padding-top: 20px;
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.form .link a{
    text-decoration: none;
    color:#ff7200;

}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}